<h1>Отделы</h1>

In [4]:
import pandas as pd
import numpy as np
import pyodbc 

db_conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-JSR6TV0G;'
                      'Database=Pro_t_londonSQL;'
                      'Trusted_Connection=yes;')

In [5]:
df = pd.read_sql_query('SELECT * FROM Pro_t_londonSQL.dbo.Спр_отделов', db_conn)
df.shape

(32, 4)

In [6]:
df

    код_отд шифр_отд             наименование  начальник
0         1        а  Строительный отдел № 2б      295.0
1         2      403        Машиностр.  Отдел      128.0
2         3      501                     СО-1      250.0
3         4      504                      ОиВ       27.0
4         5      207                    ОЭЗиС      135.0
5         6      213                    Г и Т        NaN
6         7      411                      Эн0        NaN
7         8      503                      АСО      142.0
8         9      412         Металлургический        NaN
9        10      603                  Газовый        0.0
10       12      606                    ЭТО-1      153.0
11       13      555                  ГО и ЧС      158.0
12       14      506                Монтажный        NaN
13       15      402                Прокатный      294.0
14       16      604                      ВиК      165.0
15       17      207                      ПТМ      176.0
16       18      412         Металлургический      421.0
17       19      216                      АСУ      189.0
18       26        1                     СО-2      364.0
19       27        1   Строительный отдел № 2      392.0
20       28      507                       АМ        NaN
21       29      510                      СО1        NaN
22       31      502   Строительный отдел № 2      459.0
23       32        а   Строительный отдел №2б      475.0
24       33       80   Строительный отдел № 2      480.0
25       34     None         Зам.гл.строителя        NaN
26       35      105   Строительный отдел № 2      505.0
27       36      214  Строительный отдел № 2б      544.0
28       37      512   Строительный отдел №2б      549.0
29       38      601                       ЭО        0.0
30       39      511                    СО№2а      570.0
31       40      138  Строительный отдел № 2б      615.0

In [7]:
df = df.drop(["начальник", "шифр_отд"], axis=1)
df

    код_отд             наименование
0         1  Строительный отдел № 2б
1         2        Машиностр.  Отдел
2         3                     СО-1
3         4                      ОиВ
4         5                    ОЭЗиС
5         6                    Г и Т
6         7                      Эн0
7         8                      АСО
8         9         Металлургический
9        10                  Газовый
10       12                    ЭТО-1
11       13                  ГО и ЧС
12       14                Монтажный
13       15                Прокатный
14       16                      ВиК
15       17                      ПТМ
16       18         Металлургический
17       19                      АСУ
18       26                     СО-2
19       27   Строительный отдел № 2
20       28                       АМ
21       29                      СО1
22       31   Строительный отдел № 2
23       32   Строительный отдел №2б
24       33   Строительный отдел № 2
25       34         Зам.гл.строителя
26       35   Строительный отдел № 2
27       36  Строительный отдел № 2б
28       37   Строительный отдел №2б
29       38                       ЭО
30       39                    СО№2а
31       40  Строительный отдел № 2б

In [8]:
df["наименование"] = df["наименование"].str.strip()

In [9]:
df

    код_отд             наименование
0         1  Строительный отдел № 2б
1         2        Машиностр.  Отдел
2         3                     СО-1
3         4                      ОиВ
4         5                    ОЭЗиС
5         6                    Г и Т
6         7                      Эн0
7         8                      АСО
8         9         Металлургический
9        10                  Газовый
10       12                    ЭТО-1
11       13                  ГО и ЧС
12       14                Монтажный
13       15                Прокатный
14       16                      ВиК
15       17                      ПТМ
16       18         Металлургический
17       19                      АСУ
18       26                     СО-2
19       27   Строительный отдел № 2
20       28                       АМ
21       29                      СО1
22       31   Строительный отдел № 2
23       32   Строительный отдел №2б
24       33   Строительный отдел № 2
25       34         Зам.гл.строителя
26       35   Строительный отдел № 2
27       36  Строительный отдел № 2б
28       37   Строительный отдел №2б
29       38                       ЭО
30       39                    СО№2а
31       40  Строительный отдел № 2б

In [10]:
df = df[df["код_отд"] != 40]
df = df[df["код_отд"] != 37]
df = df[df["код_отд"] != 36]
df = df[df["код_отд"] != 35]
df = df[df["код_отд"] != 34]
df = df[df["код_отд"] != 33]
df = df[df["код_отд"] != 32]
df = df[df["код_отд"] != 31]
df = df[df["код_отд"] != 18]
df = df[df["код_отд"] != 27]
df

    код_отд             наименование
0         1  Строительный отдел № 2б
1         2        Машиностр.  Отдел
2         3                     СО-1
3         4                      ОиВ
4         5                    ОЭЗиС
5         6                    Г и Т
6         7                      Эн0
7         8                      АСО
8         9         Металлургический
9        10                  Газовый
10       12                    ЭТО-1
11       13                  ГО и ЧС
12       14                Монтажный
13       15                Прокатный
14       16                      ВиК
15       17                      ПТМ
17       19                      АСУ
18       26                     СО-2
20       28                       АМ
21       29                      СО1
29       38                       ЭО
30       39                    СО№2а

In [11]:
df.at[0, "наименование"] = "СО-2б"
df

    код_отд       наименование
0         1              СО-2б
1         2  Машиностр.  Отдел
2         3               СО-1
3         4                ОиВ
4         5              ОЭЗиС
5         6              Г и Т
6         7                Эн0
7         8                АСО
8         9   Металлургический
9        10            Газовый
10       12              ЭТО-1
11       13            ГО и ЧС
12       14          Монтажный
13       15          Прокатный
14       16                ВиК
15       17                ПТМ
17       19                АСУ
18       26               СО-2
20       28                 АМ
21       29                СО1
29       38                 ЭО
30       39              СО№2а

In [12]:
df.at[1, "наименование"] = "Машиностроительный"
df

    код_отд        наименование
0         1               СО-2б
1         2  Машиностроительный
2         3                СО-1
3         4                 ОиВ
4         5               ОЭЗиС
5         6               Г и Т
6         7                 Эн0
7         8                 АСО
8         9    Металлургический
9        10             Газовый
10       12               ЭТО-1
11       13             ГО и ЧС
12       14           Монтажный
13       15           Прокатный
14       16                 ВиК
15       17                 ПТМ
17       19                 АСУ
18       26                СО-2
20       28                  АМ
21       29                 СО1
29       38                  ЭО
30       39               СО№2а

In [13]:
df = df[df["код_отд"] != 29]
df

    код_отд        наименование
0         1               СО-2б
1         2  Машиностроительный
2         3                СО-1
3         4                 ОиВ
4         5               ОЭЗиС
5         6               Г и Т
6         7                 Эн0
7         8                 АСО
8         9    Металлургический
9        10             Газовый
10       12               ЭТО-1
11       13             ГО и ЧС
12       14           Монтажный
13       15           Прокатный
14       16                 ВиК
15       17                 ПТМ
17       19                 АСУ
18       26                СО-2
20       28                  АМ
29       38                  ЭО
30       39               СО№2а

In [14]:
df.at[30, "наименование"] = "СО-2а"
df

    код_отд        наименование
0         1               СО-2б
1         2  Машиностроительный
2         3                СО-1
3         4                 ОиВ
4         5               ОЭЗиС
5         6               Г и Т
6         7                 Эн0
7         8                 АСО
8         9    Металлургический
9        10             Газовый
10       12               ЭТО-1
11       13             ГО и ЧС
12       14           Монтажный
13       15           Прокатный
14       16                 ВиК
15       17                 ПТМ
17       19                 АСУ
18       26                СО-2
20       28                  АМ
29       38                  ЭО
30       39               СО-2а

In [15]:
df = df.rename(columns={"код_отд": "id",
                        "наименование": "name"
                       })
df.head()

   id                name
0   1               СО-2б
1   2  Машиностроительный
2   3                СО-1
3   4                 ОиВ
4   5               ОЭЗиС

In [16]:
df["name"].value_counts()

ПТМ                   1
СО-2а                 1
ОЭЗиС                 1
СО-2                  1
АСУ                   1
Металлургический      1
Машиностроительный    1
Газовый               1
СО-2б                 1
СО-1                  1
ЭО                    1
ГО и ЧС               1
ОиВ                   1
АМ                    1
ЭТО-1                 1
АСО                   1
Монтажный             1
ВиК                   1
Эн0                   1
Прокатный             1
Г и Т                 1
Name: name, dtype: int64

<h1>Postgres</h1>

In [17]:
from psycopg2 import connect, sql, DatabaseError
import psycopg2.extras as extras

DocumentsKM

In [18]:
# Connect
try:
    conn = connect (
        dbname = "documentskm",
        user = "postgres",
        host = "localhost",
        password = "password"
    )
    cursor = conn.cursor()
except Exception as err:
    cursor = None
    print("Psycopg2 error:", err)
    
# Check if the connection was valid
if cursor != None:
    print("Connection successful")

Connection successful

In [19]:
cursor.execute(open("sql/30.sql", "r").read())
conn.commit()

<h2>Data</h2>

In [20]:
def execute_values(conn, df, table):
    tuples = [tuple(x) for x in df.to_numpy()]
    cols = ','.join(list(df.columns))
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()

In [21]:
execute_values(conn, df, "departments")

execute_values() done